.ReactPiano__Key--accidental {
     background: #009fb7;
     border: 1px solid #009fb7;
     border-radius: 0 0 7px 7px;
     height: 66%;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ReactPiano__Key--natural {
     background: #ffffff;
     border: 1px solid #e2e2e2;
     border-radius: 0 0 10px 10px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ReactPiano__Key--active {
     background: #3ac8da;
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
     border: 1px solid #009fb7;
     border-top: 1px solid #009fb7;
     height: 66%;
     background: #009fb7;
}

.ReactPiano__Key--active.ReactPiano__Key--natural {
     border: 1px solid #e2e2e2;
     height: 100%;
     background: #fff;
}
.ReactPiano__NoteLabel--accidental,
.ReactPiano__NoteLabel--natural,
.ReactPiano__NoteLabel--natural.ReactPiano__NoteLabel--active {
     color: transparent;
}
